

.task-manager{
    width: 100%;
    
    padding: 60px 5%;

    
}
.task-bg{
    background-color: #F1F0FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 120px 0px;
}

.task-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

}

.task-intro h1{
    color: blue;
    font-size: 70px;
}

.task-intro p{
    color: gray;
    font-size: 16px;
    line-height: 24px;
}

.task-todo{
    background-color: white;
    padding: 4%;
    border: none;
    border-radius: 25px;
    width: 60%;
}

.task-entry{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.task-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    width: 100%;
}

.task-container.completed {
    color: gray;
}

.task-container.completed .delete-button {
    display: none;
}


.checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding: 10px 9px;
    box-sizing: border-box;
    border: 1px solid #7C8794;
    border-radius: 2px;
    background: #FFFFFF;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  .checkbox:checked {
    background: rgba(69, 50, 252, 0.5);
    border-color: #385CDD;
  }
  
  .checkbox:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }
  

.task-text {
    flex-grow: 1;
    color: #3C434A;
}




.delete-button {
    display: flex;
    align-items: center;
    gap: 5px; 
    background: transparent;
    border: 1px solid #FC4B4B;
    border-radius: 4px;
    color: #FC4B4B;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 16px;
  }
  
  .delete-button .delete-icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
  }
  
#input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task-input {
    padding: 20px;
    border: 1px solid #9E9E9E;
    border-radius: 15px;
    font-size: 16px;
    line-height: 20px;
}
#task-input::placeholder {
    color: #9E9E9E; 
}

#add-button {
    padding: 10px 15px;
    background-color: #4532FC;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 20%;
}

#add-button:hover {
    background-color: #0056b3;
}

#task-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

